{% extends 'layout/base.html' %}

{% block content %}


<div class="container my-5 col-md-8 col-lg-6 mx-auto">
    <h2 class="text-center mb-7">TRA CỨU CHUYẾN BAY</h2>
    <form action="/search">
        <div class="row mb-3">
            <!-- Departure -->
            <div class="col-md-6">
                <label for="departure" class="form-label">Từ</label>
                <select class="form-select" id="departure" name="departure">
                    <option value="">Chọn điểm đi</option>
                    {% for p in provinces %}
                    <option value="{{ p.name }}">{{ p.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- Destination -->
            <div class="col-md-6">
                <label for="destination" class="form-label">Đến</label>
                <select class="form-select" id="destination" name="destination">
                    <option value="">Chọn điểm đến</option>
                    {% for p in provinces %}
                    <option value="{{ p.name }}">{{ p.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="row mb-3">
            <!-- Departure Date -->
            <div class="col-md-6">
                <label for="departure-date" class="form-label">Ngày đi</label>
                <input type="date" class="form-control" id="departure-date" name="departure-date">
            </div>

            <!-- Return Date -->
            <div class="col-md-6" id="return">
                <label for="return-date" class="form-label">Ngày về</label>
                <input type="date" class="form-control" id="return-date" name="return-date">
            </div>
        </div>

        <div class="row mb-3">
            <!-- Flight Type -->
            <div class="col-md-6">
                <label class="form-label">Loại chuyến bay</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flight-type" id="one-way" value="one-way"
                           checked>
                    <label class="form-check-label" for="one-way">Một chiều</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flight-type" id="round-trip" value="round-trip">
                    <label class="form-check-label" for="round-trip">Khứ hồi</label>
                </div>
            </div>

            <!-- Passengers -->
            <div class="col-md-6">
                <label for="passengers" class="form-label">Số hành khách</label>
                <select class="form-select" id="passengers" name="passengers">
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
            </div>
        </div>


        <!-- Search Button -->
        <button type="submit" class="btn btn-danger w-100">Tra cứu chuyến bay</button>
    </form>
</div>

{% endblock %}