{% extends 'layout/base.html' %}

{% block content %}
<div class="row">
    <div class="card card-body">
        <h5 class="page-title">Create a new Flight</h5>
        <a href="">Back to flight list</a>
        <hr>
        <form action="" method="POST">
            {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                <ul class="text-danger">
                    <li>{{ error }}</li>
                </ul>
            </div>
            {% endfor %}

            <button type="submit" class="btn btn-success">Create</button>
            <button type="reset" class="btn btn-primary">Reset</button>
        </form>
    </div>
</div>
{% endblock %}